kind: Deployment
apiVersion: apps/v1
metadata:
  name: ebs-csi-controller
  namespace: kube-system
  labels:
    application: kubernetes
    component: ebs-csi-driver
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: ebs-csi-controller
  template:
    metadata:
      labels:
        application: kubernetes
        component: ebs-csi-driver
        deployment: ebs-csi-controller
      annotations:
        logging/destination: "{{.Cluster.ConfigItems.log_destination_infra}}"
    spec:
      serviceAccountName: ebs-csi-controller-sa
      priorityClassName: system-cluster-critical
      nodeSelector:
        node.kubernetes.io/role: master
      tolerations:
        - key: node.kubernetes.io/role
          value: master
          effect: NoSchedule
      securityContext:
        fsGroup: 1000
        runAsGroup: 1000
        runAsNonRoot: true
        runAsUser: 1000
      containers:
        - name: ebs-plugin
          image: container-registry.zalando.net/teapot/aws-ebs-csi-driver:v1.27.0-master-15
          args:
            - controller
            - --endpoint=$(CSI_ENDPOINT)
            - --k8s-tag-cluster-id={{ .Cluster.ID }}
            - --v=2
          env:
            - name: CSI_ENDPOINT
              value: unix:///var/lib/csi/sockets/pluginproxy/csi.sock
            - name: CSI_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
          resources:
            requests:
              cpu: 10m
              memory: 40Mi
            limits:
              cpu: 10m
              memory: 40Mi
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy/
          ports:
            - name: healthz
              containerPort: 9808
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: healthz
            initialDelaySeconds: 10
            timeoutSeconds: 3
            periodSeconds: 10
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /healthz
              port: healthz
            initialDelaySeconds: 10
            timeoutSeconds: 3
            periodSeconds: 10
            failureThreshold: 5
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
        - name: csi-provisioner
          image: container-registry.zalando.net/teapot/external-provisioner:v4.0.0-eks-1-27-25-master-15
          args:
            - --csi-address=$(ADDRESS)
            - --v=2
            - --feature-gates=Topology=true
            - --extra-create-metadata
            - --leader-election=true
            - --default-fstype=ext4
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          resources:
            requests:
              cpu: {{ .Cluster.ConfigItems.ebs_csi_controller_sidecar_cpu }}
              memory: {{ .Cluster.ConfigItems.ebs_csi_controller_sidecar_memory }}
            limits:
              cpu: {{ .Cluster.ConfigItems.ebs_csi_controller_sidecar_cpu }}
              memory: {{ .Cluster.ConfigItems.ebs_csi_controller_sidecar_memory }}
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy/
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
        - name: csi-attacher
          image: container-registry.zalando.net/teapot/external-attacher:v4.5.0-eks-1-27-25-master-15
          args:
            - --csi-address=$(ADDRESS)
            - --v=2
            - --leader-election=true
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          resources:
            requests:
              cpu: {{ .Cluster.ConfigItems.ebs_csi_controller_sidecar_cpu }}
              memory: {{ .Cluster.ConfigItems.ebs_csi_controller_sidecar_memory }}
            limits:
              cpu: {{ .Cluster.ConfigItems.ebs_csi_controller_sidecar_cpu }}
              memory: {{ .Cluster.ConfigItems.ebs_csi_controller_sidecar_memory }}
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy/
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
        - name: csi-resizer
          image: container-registry.zalando.net/teapot/external-resizer:v1.10.0-eks-1-27-25-master-15
          args:
            - --csi-address=$(ADDRESS)
            - --v=2
            - --handle-volume-inuse-error=false
          env:
            - name: ADDRESS
              value: /var/lib/csi/sockets/pluginproxy/csi.sock
          resources:
            requests:
              cpu: {{ .Cluster.ConfigItems.ebs_csi_controller_sidecar_cpu }}
              memory: {{ .Cluster.ConfigItems.ebs_csi_controller_sidecar_memory }}
            limits:
              cpu: {{ .Cluster.ConfigItems.ebs_csi_controller_sidecar_cpu }}
              memory: {{ .Cluster.ConfigItems.ebs_csi_controller_sidecar_memory }}
          volumeMounts:
            - name: socket-dir
              mountPath: /var/lib/csi/sockets/pluginproxy/
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
        - name: liveness-probe
          image: container-registry.zalando.net/teapot/livenessprobe:v2.12.0-eks-1-27-25-master-15
          args:
            - --csi-address=/csi/csi.sock
          resources:
            requests:
              cpu: 10m
              memory: 40Mi
            limits:
              cpu: 10m
              memory: 40Mi
          volumeMounts:
            - name: socket-dir
              mountPath: /csi
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
      volumes:
        - name: socket-dir
          emptyDir: {}
