apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns
  namespace: kube-system
  labels:
    application: coredns
data:
  Corefile: |
    .:53 {
        errors
        health :9154
        kubernetes cluster.local in-addr.arpa ip6.arpa {
            pods insecure
            upstream
            fallthrough in-addr.arpa ip6.arpa
        }
        template IN A ingress.cluster.local  {
            match "^.*[.]ingress[.]cluster[.]local"
            answer "{{"{{"}} .Name {{"}}"}} 60 IN A 10.3.99.99"
            fallthrough
        }
        prometheus :9153
        proxy . /etc/resolv.conf
        cache 30
        reload
    }
