apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-local
  namespace: kube-system
  labels:
    application: coredns
data:
  Corefile: |
{{ if and (ne .ConfigItems.custom_dns_zone "") (ne .ConfigItems.custom_dns_zone_nameservers "") }}
    {{ .ConfigItems.custom_dns_zone }}:9254 {
        errors
        forward . {{ .ConfigItems.custom_dns_zone_nameservers }}
        prometheus :9153
        ready :9155
        cache 30
    }
{{ end }}

{{ if eq .ConfigItems.enable_skipper_eastwest "true"}}
    ingress.cluster.local:9254 {
        template IN A {
            match "^.*[.]ingress[.]cluster[.]local"
            answer "{{"{{"}} .Name {{"}}"}} 60 IN A 10.3.99.99"
            fallthrough
        }
        prometheus :9153
        ready :9155
    }
{{ end }}

    # `pod_cidr`, `service_cidr` defines that this server is authority for revese
    # lookups for these ranges.
    cluster.local:9254 {{ .Cluster.ConfigItems.pod_cidr }}:9254 {{ .Cluster.ConfigItems.service_cidr }}:9254 {
        errors
        kubernetes {
            pods insecure
            upstream
        }
        cache 30
{{ if eq .ConfigItems.coredns_log_svc_names "true"}}
        log svc.svc.cluster.local.
{{ end }}
        prometheus :9153
        ready :9155
    }

    .:9254 {
        errors
        health :9154 # this is global for all servers
        ready :9155
        prometheus :9153
        forward . /etc/resolv.conf
        pprof 127.0.0.1:9156
        cache 30
        reload
    }
