apiVersion: v1
kind: Service
metadata:
  name: coredns
  namespace: kube-system
  labels:
    application: coredns
    kubernetes.io/cluster-service: "true"
    kubernetes.io/name: "CoreDNS"
  annotations:
    prometheus.io/path: /metrics
    prometheus.io/port: "9153"
    prometheus.io/scrape: "true"
spec:
  selector:
    application: coredns
  clusterIP: 10.36.0.10
  ports:
  - name: dns
    port: 53
    protocol: UDP
  - name: dns-tcp
    port: 53
    protocol: TCP
