{{ if ne .Environment "production" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-janitor
  namespace: kube-system
  labels:
    application: kube-janitor
    version: v0.2.2
spec:
  replicas: 1
  selector:
    matchLabels:
      application: kube-janitor
  template:
    metadata:
      labels:
        application: kube-janitor
        version: v0.2.2
    spec:
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      serviceAccountName: system
      containers:
      - name: janitor
        # see https://github.com/hjacobs/kube-janitor/releases
        image: registry.opensource.zalan.do/teapot/kube-janitor:0.2.2
        args:
          # run every minute
          - --interval=60
          # do not touch system/infra namespaces
          - --exclude-namespaces=kube-system,visibility
          - --rules-file=/config/rules.yaml
        resources:
          limits:
            cpu: 5m
            memory: 150Mi
          requests:
            # this is a background app ==> low priority, low CPU requests
            cpu: 5m
            memory: 150Mi
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
        volumeMounts:
          - name: config-volume
            mountPath: /config
      volumes:
      - name: config-volume
        configMap:
          name: kube-janitor
{{ end }}
