{{ if ne .Environment "production" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-janitor
  namespace: kube-system
  labels:
    application: kubernetes
    component: kube-janitor
    version: v20.4.1
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: kube-janitor
  template:
    metadata:
      labels:
        deployment: kube-janitor
        application: kubernetes
        component: kube-janitor
        version: v20.4.1
      annotations:
        logging/destination: "{{.Cluster.ConfigItems.log_destination_infra}}"
    spec:
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      serviceAccountName: kube-janitor
      containers:
      - name: janitor
        # see https://github.com/hjacobs/kube-janitor/releases
        image: container-registry.zalando.net/teapot/kube-janitor:20.4.1
        args:
          # run every minute
          - --interval=60
          # do not touch system/infra namespaces
          - --exclude-namespaces=kube-system,visibility
          - --rules-file=/config/rules.yaml
          - --deployment-time-annotation=deployment-time
        resources:
          limits:
            cpu: 5m
            memory: 4Gi
          requests:
            # this is a background app ==> low priority, low CPU requests
            cpu: 5m
            memory: 4Gi
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
        volumeMounts:
          - name: config-volume
            mountPath: /config
      volumes:
      - name: config-volume
        configMap:
          name: kube-janitor
{{ end }}
