{{ if eq .Cluster.ConfigItems.karpenter_pools_enabled "true"}}
---
# Source: karpenter/templates/01-serviceaccount.yaml
apiVersion: v1
kind: ServiceAccount
metadata:
  name: karpenter
  namespace: kube-system
  labels:
    application: kubernetes
    component: karpenter
  annotations:
    iam.amazonaws.com/role: '{{ .LocalID }}-app-karpenter'
{{end}}