apiVersion: v1
kind: ServiceAccount
metadata:
  name: kube-ingress-aws-controller
  namespace: kube-system
  annotations:
    iam.amazonaws.com/role: "{{ .Cluster.LocalID }}-app-ingr-ctrl"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: kube-ingress-aws-controller
rules:
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses/status
  verbs:
  - patch
  - update
- apiGroups:
  - zalando.org
  resources:
  - routegroups
  - fabricgateways
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - zalando.org
  resources:
  - routegroups/status
  - fabricgateways/status
  verbs:
  - patch
  - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kube-ingress-aws-controller-dns
  namespace: kube-system
rules:
- apiGroups:
  - externaldns.k8s.io
  resources:
  - dnsendpoints
  resourceNames:
  - kube-ingress-aws-controller-dns
  verbs:
  - get
  - patch
- apiGroups:
  - externaldns.k8s.io
  resources:
  - dnsendpoints
  verbs:
  - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: kube-ingress-aws-controller
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: kube-ingress-aws-controller
subjects:
- kind: ServiceAccount
  name: kube-ingress-aws-controller
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: kube-ingress-aws-controller-dns
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: kube-ingress-aws-controller-dns
subjects:
- kind: ServiceAccount
  name: kube-ingress-aws-controller
  namespace: kube-system
