apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-ingress-aws-controller
  namespace: kube-system
  labels:
    application: kube-ingress-aws-controller
    version: v0.11.16
spec:
  replicas: 1
  selector:
    matchLabels:
      application: kube-ingress-aws-controller
  template:
    metadata:
      labels:
        application: kube-ingress-aws-controller
        version: v0.11.16
    spec:
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      priorityClassName: "{{ .Cluster.ConfigItems.system_priority_class }}"
      serviceAccountName: kube-ingress-aws-controller
      containers:
      - name: controller
        image: registry.opensource.zalan.do/teapot/kube-ingress-aws-controller:v0.11.16
        args:
        - --stack-termination-protection
        - --ssl-policy={{ .ConfigItems.kube_aws_ingress_controller_ssl_policy }}
        - --idle-connection-timeout={{ .ConfigItems.kube_aws_ingress_controller_idle_timeout }}
        - --deregistration-delay-timeout={{ .ConfigItems.kube_aws_ingress_controller_deregistration_delay_timeout }}
        {{ if eq .ConfigItems.kube_aws_ingress_controller_nlb_cross_zone "true" }}
        - --nlb-cross-zone
        {{ end }}
        - --cluster-local-domain=cluster.local
        - "--additional-stack-tags=InfrastructureComponent=true"
        env:
        - name: CUSTOM_FILTERS
          value: "tag:kubernetes.io/cluster/{{ .Cluster.ID }}=owned tag:node.kubernetes.io/role=worker tag:zalando.org/ingress-enabled=true"
        - name: AWS_REGION
          value: {{ .Region }}
        resources:
          limits:
            cpu: 50m
            memory: 100Mi
          requests:
            cpu: 50m
            memory: 100Mi
