apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-ingress-aws-controller
  namespace: kube-system
  labels:
    application: kube-ingress-aws-controller
    version: v0.8.1
spec:
  replicas: 1
  selector:
    matchLabels:
      application: kube-ingress-aws-controller
  template:
    metadata:
      labels:
        application: kube-ingress-aws-controller
        version: v0.8.1
      annotations:
        iam.amazonaws.com/role: "{{ .LocalID }}-app-ingr-ctrl"
    spec:
      priorityClassName: system-cluster-critical
{{ if index .ConfigItems "enable_rbac"}}
      serviceAccountName: kube-ingress-aws-controller
{{ else }}
      serviceAccountName: system
{{ end }}
      containers:
      - name: controller
        image: registry.opensource.zalan.do/teapot/kube-ingress-aws-controller:v0.8.1
        args:
        - -stack-termination-protection
        env:
        - name: AWS_REGION
          value: {{ .Region }}
        resources:
          limits:
            cpu: 50m
            memory: 100Mi
          requests:
            cpu: 50m
            memory: 100Mi
