apiVersion: admissionregistration.k8s.io/v1beta1
kind: MutatingWebhookConfiguration
metadata:
  name: teapot-admission-controller
  labels:
    application: teapot-admission-controller
webhooks:
  - name: pod-admitter.teapot.zalan.do
    clientConfig:
      url: "https://localhost:8085/pod"
      caBundle: "{{ .ConfigItems.ca_cert_decompressed }}"
    failurePolicy: Fail
    sideEffects: "NoneOnDryRun"
    rules:
      - operations: [ "CREATE" ]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods"]
{{- if eq .Cluster.ConfigItems.teapot_admission_controller_inject_environment_variables "true" }}
  - name: pod-binding-admitter.teapot.zalan.do
    clientConfig:
      url: "https://localhost:8085/pod"
      caBundle: "{{ .ConfigItems.ca_cert_decompressed }}"
    failurePolicy: Ignore
    sideEffects: "NoneOnDryRun"
    rules:
      - operations: [ "CREATE" ]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["pods/binding"]
{{- end }}
  - name: storageclass-admitter.teapot.zalan.do
    clientConfig:
      url: "https://localhost:8085/storageclass"
      caBundle: "{{ .ConfigItems.ca_cert_decompressed }}"
    failurePolicy: Fail
    sideEffects: "NoneOnDryRun"
    rules:
      - operations: [ "CREATE" ]
        apiGroups: ["storage.k8s.io"]
        apiVersions: ["v1", "v1beta1"]
        resources: ["storageclasses"]
  - name: node-admitter.teapot.zalan.do
    clientConfig:
      url: "https://localhost:8085/node"
      caBundle: "{{ .ConfigItems.ca_cert_decompressed }}"
    failurePolicy: Fail
    rules:
      - operations: [ "CREATE", "UPDATE" ]
        apiGroups: [""]
        apiVersions: ["v1"]
        resources: ["nodes"]
  - name: cronjob-admitter.teapot.zalan.do
    clientConfig:
      url: "https://localhost:8085/cronjob"
      caBundle: "{{ .ConfigItems.ca_cert_decompressed }}"
    failurePolicy: Fail
    sideEffects: "NoneOnDryRun"
    rules:
      - operations: [ "CREATE", "UPDATE" ]
        apiGroups: ["batch"]
        apiVersions: ["v1beta1", "v2alpha1"]
        resources: ["cronjobs"]
  - name: job-admitter.teapot.zalan.do
    clientConfig:
      url: "https://localhost:8085/job"
      caBundle: "{{ .ConfigItems.ca_cert_decompressed }}"
    failurePolicy: Fail
    sideEffects: "NoneOnDryRun"
    rules:
      - operations: [ "CREATE", "UPDATE" ]
        apiGroups: ["batch"]
        apiVersions: ["v1"]
        resources: ["jobs"]
  - name: deployment-admitter.teapot.zalan.do
    clientConfig:
      url: "https://localhost:8085/deployment"
      caBundle: "{{ .ConfigItems.ca_cert_decompressed }}"
    failurePolicy: Fail
    sideEffects: "NoneOnDryRun"
    rules:
      - operations: [ "CREATE", "UPDATE" ]
        apiGroups: ["apps"]
        apiVersions: ["v1", "v1beta2", "v1beta1"]
        resources: ["deployments"]
  - name: deployment-legacy-admitter.teapot.zalan.do
    clientConfig:
      url: "https://localhost:8085/deployment"
      caBundle: "{{ .ConfigItems.ca_cert_decompressed }}"
    failurePolicy: Fail
    sideEffects: "NoneOnDryRun"
    rules:
      - operations: [ "CREATE", "UPDATE" ]
        apiGroups: ["extensions"]
        apiVersions: ["v1beta1"]
        resources: ["deployments"]
  - name: statefulset-admitter.teapot.zalan.do
    clientConfig:
      url: "https://localhost:8085/statefulset"
      caBundle: "{{ .ConfigItems.ca_cert_decompressed }}"
    failurePolicy: Fail
    sideEffects: "NoneOnDryRun"
    rules:
      - operations: [ "CREATE", "UPDATE" ]
        apiGroups: ["apps"]
        apiVersions: ["v1", "v1beta2", "v1beta1"]
        resources: ["statefulsets"]
  - name: crd-admitter.teapot.zalan.do
    clientConfig:
      url: "https://localhost:8085/crd"
      caBundle: "{{ .ConfigItems.ca_cert_decompressed }}"
    failurePolicy: Fail
    rules:
      - operations: ["CREATE", "UPDATE", "DELETE"]
        apiGroups: ["apiextensions.k8s.io"]
        apiVersions: ["v1", "v1beta1"]
        resources: ["customresourcedefinitions"]
  - name: ingress-admitter.teapot.zalan.do
    clientConfig:
      url: "https://localhost:8085/ingress"
      caBundle: "{{ .ConfigItems.ca_cert_decompressed }}"
    failurePolicy: Fail
    sideEffects: "NoneOnDryRun"
    rules:
      - operations: ["CREATE", "UPDATE"]
        apiGroups: ["extensions", "networking.k8s.io"]
        apiVersions: ["v1beta1"]
        resources: ["ingresses"]
  - name: stack-admitter.teapot.zalan.do
    clientConfig:
      url: "https://localhost:8085/stack"
      caBundle: "{{ .ConfigItems.ca_cert_decompressed }}"
    failurePolicy: Fail
    sideEffects: "NoneOnDryRun"
    rules:
      - operations: ["UPDATE"]
        apiGroups: ["zalando.org"]
        apiVersions: ["v1"]
        resources: ["stacks"]
