{{- if or (eq .Environment "production") (ne .Cluster.ConfigItems.nakadi_url "") }}
apiVersion: zalando.org/v1
kind: PlatformCredentialsSet
metadata:
  name: "kube-metrics-adapter"
  namespace: kube-system
  labels:
    application: kubernetes
    component: kube-metrics-adapter
spec:
  application: kubernetes
  tokens:
    {{- if and (eq .Environment "production") (ne .Cluster.ConfigItems.zmon_kairosdb_url "") }}
    zmon:
      privileges: []
    {{- end }}
    {{- if ne .Cluster.ConfigItems.nakadi_url ""}}
    nakadi:
      privileges: []
    {{- end }}
{{- end }}
