{{ if eq .Environment "production" }}
apiVersion: zalando.org/v1
kind: PlatformCredentialsSet
metadata:
  name: "kube-metrics-adapter"
  namespace: kube-system
  labels:
    application: kubernetes
    component: metrics-adapter
spec:
  application: kubernetes
  tokens:
    zmon:
      privileges: []
{{ end }}
