# {{ $version := "master-254" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: fabric-gateway-controller
  namespace: kube-system
  labels:
    application: gateway-operator
    component: fabric-gateway-controller
    version: "{{ $version }}"
    mode: "{{ .Cluster.ConfigItems.fabric_gateway_controller_mode }}"
spec:
{{ if eq .Cluster.ConfigItems.fabric_gateway_controller_mode "disabled" }}
  replicas: 0
{{ else }}
  replicas: 1
{{ end }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      deployment: fabric-gateway-controller
  template:
    metadata:
      labels:
        deployment: fabric-gateway-controller
        application: gateway-operator
        component: fabric-gateway-controller
        version: "{{ $version }}"
        mode: "{{ .Cluster.ConfigItems.fabric_gateway_controller_mode }}"
      annotations:
        kubernetes-log-watcher/scalyr-parser: |
          [{"container": "controller", "parser": "keyValue"}]
        logging/destination: "{{ .Cluster.ConfigItems.log_destination_infra }}"
        prometheus.io/path: /metrics
        prometheus.io/port: "7979"
        prometheus.io/scrape: "true"
    spec:
      priorityClassName: "{{ .Cluster.ConfigItems.system_priority_class }}"
      serviceAccountName: fabric-gateway-controller
      containers:
        - name: controller
          image: container-registry.zalando.net/gwproxy/fabric-gateway:{{ $version }}
          args:
            - -update-fabric-gateway-status=true
            - -versioned-hosts-base-domain={{ .Values.hosted_zone }}
            - -log-level={{ .Cluster.ConfigItems.fabric_gateway_controller_log_level }}
            - -ssl-policy={{ .Cluster.ConfigItems.fabric_gateway_controller_ssl_policy }}
            {{ if eq .Cluster.ConfigItems.fabric_gateway_controller_allow_all_filters "true" }}
            - -allow-all-filters=true
            {{ end }}
          resources:
            requests:
              cpu: {{ .Cluster.ConfigItems.fabric_gateway_controller_cpu }}
              memory: {{ .Cluster.ConfigItems.fabric_gateway_controller_memory }}
            limits:
              cpu: {{ .Cluster.ConfigItems.fabric_gateway_controller_cpu }}
              memory: {{ .Cluster.ConfigItems.fabric_gateway_controller_memory }}
