apiVersion: autoscaling.k8s.io/v1
kind: VerticalPodAutoscaler
metadata:
  name: kube-aws-iam-controller
  namespace: kube-system
  labels:
    application: kubernetes
    component: aws-iam-controller
spec:
  targetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: kube-aws-iam-controller
  updatePolicy:
    updateMode: "Auto"
  resourcePolicy:
    containerPolicies:
    - containerName: kube-aws-iam-controller
      maxAllowed:
        {{ range $NodePool := .Cluster.NodePools }}
        {{ if eq $NodePool.Name "default-master" }}
        # Scaling is relative to r6g.large (smallest master node)
        # 0.014 -> 25m CPU, 0.003 -> 50Mi memory
        cpu: {{ scaleQuantity ( instanceTypeCPU ( index .InstanceTypes 0 )) 0.014 }}
        memory: {{ scaleQuantity ( instanceTypeMemory ( index .InstanceTypes 0 )) 0.003 }}
        {{ end }}
        {{ end }}
