apiVersion: zalando.org/v1
kind: RouteGroup
metadata:
  name: prometheus
  namespace: kube-system
  labels:
    application: kubernetes
    component: prometheus
spec:
  hosts:
    - system-prometheus.{{ .Values.hosted_zone }}
  backends:
    - name: prometheus
      type: service
      serviceName: prometheus
      servicePort: 80
  defaultBackends:
    - backendName: prometheus
  routes:
    - pathSubtree: /
      predicates:
        - HeaderRegexp("Authorization", "^Bearer .+")
      filters:
        - oauthTokeninfoAnyKV("realm", "/employees", "realm", "/services")

    # {{ if .Cluster.ConfigItems.prometheus_ui_users }}
    #   {{ $uidKVs := "" }}
    #   {{ range $uid := split .Cluster.ConfigItems.prometheus_ui_users "," }}
    #     {{ if $uidKVs }}{{ $uidKVs = printf `%s, ` $uidKVs }}{{ end }}
    #     {{ $uidKVs = printf `%s"uid", "%s"` $uidKVs $uid }}
    #   {{ end }}
    - pathSubtree: /
      filters:
        - oauthGrant()
        - oauthTokeninfoAnyKV({{ $uidKVs }})
    # {{ end }}
