apiVersion: autoscaling.k8s.io/v1beta2
kind: VerticalPodAutoscaler
metadata:
  name: prometheus-vpa
  namespace: kube-system
  labels:
    application: prometheus
spec:
  targetRef:
    apiVersion: apps/v1
    kind: StatefulSet
{{ if ne .ConfigItems.prometheus_csi_ebs "true" }}
    name: prometheus
{{ else }}
    name: prometheus-csi
{{ end }}
  updatePolicy:
    updateMode: Auto
  resourcePolicy:
    containerPolicies:
    - containerName: prometheus
      minAllowed:
        memory: {{.Cluster.ConfigItems.prometheus_mem_min}}
        cpu: {{.Cluster.ConfigItems.prometheus_cpu_min}}
