apiVersion: apps/v1
kind: StatefulSet
metadata:
  annotations:
    pdb-controller.zalando.org/non-ready-ttl: "5m"
  labels:
    application: prometheus
    version: v2.15.2
  name: prometheus
  namespace: kube-system
spec:
  replicas: 2
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      application: prometheus
  serviceName: prometheus
  template:
    metadata:
      labels:
        application: prometheus
        version: v2.15.2
      annotations:
        config/hash: {{"configmap.yaml" | manifestHash}}
    spec:
      serviceAccountName: prometheus
      dnsConfig:
        options:
        - name: ndots
          value: "1"
      priorityClassName: system-cluster-critical
      initContainers:
      - name: generate-config
        image: registry.opensource.zalan.do/stups/alpine:3.10.3-5
        command:
        - /bin/sh
        args:
        - -c
        - sed s/'@@POD_NAME@@'/${POD_NAME}/g /etc/prometheus/prometheus.yml > /prometheus/prometheus.yaml
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        volumeMounts:
        - name: prometheus-config-volume
          mountPath: /etc/prometheus
        - name: prometheus-storage-volume
          mountPath: /prometheus
      containers:
      - name: prometheus
        image: registry.opensource.zalan.do/teapot/prometheus:v2.15.2
        args:
        - "--config.file=/prometheus/prometheus.yaml"
        - "--storage.tsdb.path=/prometheus/"
        - "--storage.tsdb.retention.time=1d"
        - "--storage.tsdb.wal-compression"
        - "--storage.tsdb.min-block-duration=30m"
        ports:
        - name: ingress-port
          containerPort: 9090
          protocol: TCP
        resources:
          limits:
            cpu: {{.ConfigItems.prometheus_cpu}}
            memory: {{.ConfigItems.prometheus_mem}}
          requests:
            cpu: {{.ConfigItems.prometheus_cpu}}
            memory: {{.ConfigItems.prometheus_mem}}
        readinessProbe:
          httpGet:
            path: /-/ready
            port: 9090
          initialDelaySeconds: 5
          timeoutSeconds: 5
          # ensure that we have at least two minutes of metrics before marking ourselves as ready
          periodSeconds: 5
          successThreshold: 26
        volumeMounts:
        - name: prometheus-storage-volume
          mountPath: /prometheus
{{- if ne .ConfigItems.prometheus_remote_write "disabled" }}
        - name: prometheus-credentials
          mountPath: /meta/credentials
{{- end }}
        securityContext:
          allowPrivilegeEscalation: false
      volumes:
      - name: prometheus-config-volume
        configMap:
          defaultMode: 420
          name: prometheus-conf
{{- if ne .ConfigItems.prometheus_remote_write "disabled" }}
      - name: prometheus-credentials
        secret:
          secretName: prometheus-credentials
{{- end }}
      securityContext:
        runAsUser: 65534
        fsGroup: 65534
      terminationGracePeriodSeconds: 60
  volumeClaimTemplates:
  - metadata:
      name: prometheus-storage-volume
    spec:
      storageClassName: standard
      accessModes:
      - "ReadWriteOnce"
      resources:
        requests:
          storage: 50Gi
