apiVersion: apps/v1
kind: StatefulSet
metadata:
  annotations:
    pdb-controller.zalando.org/non-ready-ttl: "5m"
  labels:
    application: prometheus
    version: v2.30.2
{{- if ne .ConfigItems.prometheus_csi_ebs "true" }}
  name: prometheus
{{- else }}
  name: prometheus-csi
{{- end }}
  namespace: kube-system
spec:
  replicas: 2
  podManagementPolicy: Parallel
  selector:
    matchLabels:
      application: prometheus
  serviceName: prometheus
  template:
    metadata:
      labels:
        application: prometheus
        version: v2.30.2
      annotations:
        config/hash: {{"configmap.yaml" | manifestHash}}
        logging/destination: "{{.Cluster.ConfigItems.log_destination_infra}}"
        prometheus.io/path: /metrics
        prometheus.io/port: "9090"
        prometheus.io/scrape: "true"
    spec:
      serviceAccountName: prometheus
      dnsConfig:
        options:
        - name: ndots
          value: "1"
      initContainers:
      - name: generate-config
        image: registry.opensource.zalan.do/library/alpine-3.13:3.13-20210830
        command:
        - /bin/sh
        args:
        - -c
        - sed s/'@@POD_NAME@@'/${POD_NAME}/g /etc/prometheus/prometheus.yml > /prometheus/prometheus.yaml ; cp /etc/prometheus/prometheus.rules.yml /prometheus/prometheus.rules.yaml
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        resources:
          limits:
            cpu: 1m
            memory: 128Mi
        volumeMounts:
        - name: prometheus-config-volume
          mountPath: /etc/prometheus
        - name: prometheus-storage-volume
          mountPath: /prometheus
      containers:
      - name: prometheus
        image: registry.opensource.zalan.do/teapot/prometheus:v2.30.2
        args:
        - "--config.file=/prometheus/prometheus.yaml"
        - "--storage.tsdb.path=/prometheus/"
{{- if ne .ConfigItems.prometheus_tsdb_retention_size "disabled" }}
        - "--storage.tsdb.retention.size={{ kubernetesSizeToKiloBytes .ConfigItems.prometheus_mem_min 0.6 }}"
{{- else }}
        - "--storage.tsdb.retention.time={{ .ConfigItems.prometheus_retention_time }}"
{{- end }}
        - "--storage.tsdb.wal-compression"
        - "--storage.tsdb.min-block-duration=30m"
        ports:
        - name: ingress-port
          containerPort: 9090
          protocol: TCP
        resources:
          limits:
            cpu: {{.ConfigItems.prometheus_cpu}}
            memory: {{.ConfigItems.prometheus_mem}}
          requests:
            cpu: {{.ConfigItems.prometheus_cpu}}
            memory: {{.ConfigItems.prometheus_mem}}
        readinessProbe:
          httpGet:
            path: /-/ready
            port: 9090
          initialDelaySeconds: 5
          timeoutSeconds: 5
          # ensure that we have at least two minutes of metrics before marking ourselves as ready
          periodSeconds: 5
          successThreshold: 26
        volumeMounts:
        - name: prometheus-storage-volume
          mountPath: /prometheus
{{- if ne .ConfigItems.prometheus_remote_write "disabled" }}
        - name: prometheus-credentials
          mountPath: /meta/credentials
{{- end }}
        securityContext:
          allowPrivilegeEscalation: false
      volumes:
      - name: prometheus-config-volume
        configMap:
          defaultMode: 420
          name: prometheus-conf
{{- if ne .ConfigItems.prometheus_remote_write "disabled" }}
      - name: prometheus-credentials
        secret:
          secretName: prometheus-credentials
{{- end }}
      securityContext:
        runAsUser: 65534
        fsGroup: 65534
      terminationGracePeriodSeconds: 60
  volumeClaimTemplates:
  - metadata:
      name: prometheus-storage-volume
    spec:
{{- if ne .ConfigItems.prometheus_csi_ebs "true" }}
      storageClassName: standard
{{- else }}
      storageClassName: ebs
{{- end }}
      accessModes:
      - "ReadWriteOnce"
      resources:
        requests:
          storage: 50Gi
