apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: kube-cluster-autoscaler
  namespace: kube-system
  labels:
    application: kube-cluster-autoscaler
    version: v1.12.2-internal-2.7
spec:
  selector:
    matchLabels:
      application: kube-cluster-autoscaler
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        application: kube-cluster-autoscaler
        version: v1.12.2-internal-2.7
      annotations:
        iam.amazonaws.com/role: "{{ .LocalID }}-app-autoscaler"
        config/pool-sizes: "{{range .NodePools}}{{.Name}}-{{.MinSize}}-{{.MaxSize}} {{end}}"
    spec:
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      priorityClassName: system-cluster-critical
      serviceAccountName: cluster-autoscaler
      dnsPolicy: Default
      tolerations:
      - key: node.kubernetes.io/role
        value: master
        effect: NoSchedule
      containers:
      - name: cluster-autoscaler
        image: registry.opensource.zalan.do/teapot/kube-cluster-autoscaler:v1.12.2-internal-2.7
        command:
          - ./cluster-autoscaler
          - --v=4
          - --stderrthreshold=info
          - --scale-down-utilization-threshold={{if index .ConfigItems "autoscaling_utilization_threshold"}}{{.ConfigItems.autoscaling_utilization_threshold}}{{else}}0.75{{end}}
          - --cloud-provider=aws
          - --node-group-auto-discovery=asg:tag=k8s.io/cluster-autoscaler/enabled,zalando.de/cluster-local-id/{{ .LocalID }}
          - --expendable-pods-priority-cutoff=-1000000
          - --skip-nodes-with-system-pods=false
          - --skip-nodes-with-local-storage=false
          - --scale-up-cloud-provider-template=true
          - --expander={{ .Cluster.ConfigItems.cluster_autoscaler_expander }}
          - --balance-similar-node-groups
          - --max-node-provision-time=7m
          - --max-nodes-total={{ nodeCIDRMaxNodes (parseInt64 .Cluster.ConfigItems.node_cidr_mask_size) (parseInt64 .Cluster.ConfigItems.reserved_nodes) }}
          - --scale-down-enabled={{ .ConfigItems.autoscaling_scale_down_enabled }}
        resources:
          requests:
            cpu: {{.Cluster.ConfigItems.cluster_autoscaler_cpu}}
            memory: {{.Cluster.ConfigItems.cluster_autoscaler_memory}}
        env:
          - name: AWS_REGION
            value: {{ .Region }}
          - name: KUBE_MAX_PD_VOLS
            value: "26"
      nodeSelector:
        node.kubernetes.io/role: master
