apiVersion: apps/v1
kind: Deployment
metadata:
  name: kube-cluster-autoscaler
  namespace: kube-system
  labels:
    application: kube-cluster-autoscaler
    version: v1.3.1-teapot16
spec:
  replicas: 2
  selector:
    matchLabels:
      application: kube-cluster-autoscaler
  template:
    metadata:
      labels:
        application: kube-cluster-autoscaler
        version: v1.3.1-teapot16
      annotations:
        iam.amazonaws.com/role: "{{ .LocalID }}-app-autoscaler"
        config/pool-sizes: "{{range .NodePools}}{{.Name}}-{{.MinSize}}-{{.MaxSize}} {{end}}"
    spec:
      priorityClassName: system-cluster-critical
      serviceAccountName: system
      dnsPolicy: Default
      tolerations:
      - key: node-role.kubernetes.io/master
        effect: NoSchedule
      containers:
      - name: cluster-autoscaler
        image: registry.opensource.zalan.do/teapot/kube-cluster-autoscaler-custom:v1.3.1-teapot16
        command:
          - ./cluster-autoscaler
          - --v=4
          - --stderrthreshold=info
          - --scale-down-utilization-threshold={{if index .ConfigItems "autoscaling_utilization_threshold"}}{{.ConfigItems.autoscaling_utilization_threshold}}{{else}}0.75{{end}}
          - --cloud-provider=aws
          - --node-group-auto-discovery=asg:tag=k8s.io/cluster-autoscaler/enabled,zalando.de/cluster-local-id/{{ .LocalID }}
          - --expendable-pods-priority-cutoff=-1000000
          - --skip-nodes-with-system-pods=false
          - --skip-nodes-with-local-storage=false
          - --scale-up-cloud-provider-template=true
          - --balance-similar-node-groups
        resources:
          limits:
            cpu: 100m
            memory: 300Mi
          requests:
            cpu: 15m
            memory: 300Mi
        env:
          - name: AWS_REGION
            value: {{ .Region }}
          - name: KUBE_MAX_PD_VOLS
            value: "26"
      nodeSelector:
        node-role.kubernetes.io/master: ""
