apiVersion: policy/v1beta1
kind: PodDisruptionBudget
metadata:
  labels:
    application: kubernetes
    component: autoscaling-buffer
  name: autoscaling-buffer
  namespace: kube-system
spec:
  maxUnavailable: "100%"
  selector:
    matchLabels:
      application: kubernetes
      component: autoscaling-buffer
