kind: Service
apiVersion: v1
metadata:
  name: heapster
  namespace: kube-system
  labels:
    application: heapster
    kubernetes.io/cluster-service: "true"
    kubernetes.io/name: "Heapster"
spec:
  ports:
    - port: 80
      targetPort: 8082
  selector:
    application: heapster
