apiVersion: batch/v2alpha1
kind: CronJob
metadata:
  name: etcd-backup
  namespace: kube-system
  labels:
    application: etcd-backup
    version: "master-3"
spec:
  schedule: "23 * * * *"
  concurrencyPolicy: Forbid
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            application: etcd-backup
            version: "master-3"
          annotations:
            iam.amazonaws.com/role: "{{ .LocalID }}-etcd-backup"
        spec:
          restartPolicy: Never
          containers:
          - name: etcd-backup
            image: pierone.stups.zalan.do/teapot/etcd-backup:master-3
            env:
            - name: ETCD_S3_BACKUP_BUCKET
              value: "{{ .ConfigItems.etcd_s3_backup_bucket }}"
            - name: ETCD_ENDPOINTS
              value: "{{ .ConfigItems.etcd_endpoints }}"
            resources:
              limits:
                cpu: 100m
                memory: 4Gi
              requests:
                cpu: 50m
                memory: 2Gi
