# Autoscaling settings
autoscaling_buffer_pools: "default-worker"
autoscaling_buffer_cpu_scale: "1"
autoscaling_buffer_memory_scale: "0.85"
autoscaling_buffer_cpu_reserved: "1"
autoscaling_buffer_memory_reserved: "1500Mi"
{{if eq .Environment "production"}}
autoscaling_buffer_pods: "1"
{{else}}
autoscaling_buffer_pods: "0"
{{end}}

# tokeninfo
{{if eq .Environment "production"}}
tokeninfo_url: "https://info.services.auth.zalando.com/oauth2/tokeninfo"
{{else}}
tokeninfo_url: "https://sandbox.identity.zalando.com/oauth2/tokeninfo"
{{end}}

# Image Policy Webhook
image_policy: "dev"

# Monitoring settings
{{if eq .Environment "e2e"}}
logging_agent_enabled: "false"
zmon_agent_replicas: "0"
zmon_aws_agent_replicas: "0"
zmon_redis_replicas: "0"
zmon_scheduler_replicas: "0"
zmon_worker_replicas: "0"
{{else}}
logging_agent_enabled: "true"
zmon_agent_replicas: "1"
zmon_aws_agent_replicas: "1"
zmon_redis_replicas: "1"
zmon_scheduler_replicas: "1"
zmon_worker_replicas: "4"
{{end}}
