# Autoscaling settings
autoscaling_buffer_pools: "default-worker"
autoscaling_buffer_cpu_scale: "1"
autoscaling_buffer_memory_scale: "0.85"
autoscaling_buffer_cpu_reserved: "1"
autoscaling_buffer_memory_reserved: "2000Mi"
{{if eq .Environment "production"}}
autoscaling_buffer_pods: "1"
{{else}}
autoscaling_buffer_pods: "0"
{{end}}

# tokeninfo
{{if eq .Environment "production"}}
tokeninfo_url: "https://info.services.auth.zalando.com/oauth2/tokeninfo"
{{else}}
tokeninfo_url: "https://tokeninfo.sandbox.identity.zalando.com/oauth2/tokeninfo"
{{end}}

# Image Policy Webhook
{{if eq .Environment "production"}}
image_policy: "trusted"
{{else}}
image_policy: "dev"
{{end}}

# Monitoring settings
{{if eq .Environment "e2e"}}
logging_agent_enabled: "false"
zmon_agent_replicas: "0"
zmon_aws_agent_replicas: "0"
zmon_redis_replicas: "0"
zmon_scheduler_replicas: "0"
zmon_worker_replicas: "0"
{{else}}
logging_agent_enabled: "true"
zmon_agent_replicas: "1"
zmon_aws_agent_replicas: "1"
zmon_redis_replicas: "1"
zmon_scheduler_replicas: "1"
zmon_worker_replicas: "4"
{{end}}

# Kubernetes Downscaler (for non-production clusters)
{{if eq .Environment "test"}}
downscaler_default_uptime: "Mon-Fri 07:30-20:30 CET"
{{else if eq .Environment "playground"}}
downscaler_default_uptime: "Mon-Fri 07:30-20:30 CET"
{{else}}
downscaler_default_uptime: "always"
{{end}}

# HPA settings (defaults from https://kubernetes.io/docs/reference/command-line-tools-reference/kube-controller-manager/)
horizontal_pod_autoscaler_downscale_delay: "5m0s"
horizontal_pod_autoscaler_sync_period: "30s"
horizontal_pod_autoscaler_tolerance: "0.1"
horizontal_pod_autoscaler_upscale_delay: "3m0s"

# Cluster update settings
{{if eq .Environment "production"}}
drain_grace_period: "6h"
drain_min_pod_lifetime: "72h"
drain_min_healthy_sibling_lifetime: "1h"
drain_min_unhealthy_sibling_lifetime: "6h"
drain_force_evict_interval: "5m"
{{else}}
drain_grace_period: "2h"
drain_min_pod_lifetime: "8h"
drain_min_healthy_sibling_lifetime: "1h"
drain_min_unhealthy_sibling_lifetime: "1h"
drain_force_evict_interval: "5m"
{{end}}

# etcd cluster
{{if ne .Environment "production"}}
etcd_instance_count: "3"
{{end}}

# Resource requests and limits
{{if eq .Environment "production"}}
logging_agent_log_watcher_cpu: "50m"
logging_agent_log_watcher_memory: "50Mi"
logging_agent_scalyr_agent_cpu: "100m"
logging_agent_scalyr_agent_memory: "100Mi"
{{else}}
logging_agent_log_watcher_cpu: "25m"
logging_agent_log_watcher_memory: "25Mi"
logging_agent_scalyr_agent_cpu: "50m"
logging_agent_scalyr_agent_memory: "50Mi"
{{end}}
