apiVersion: apps/v1
kind: Deployment
metadata:
  name: pdb-controller
  namespace: kube-system
  labels:
    application: pdb-controller
    version: v0.0.7
spec:
  selector:
    matchLabels:
      application: pdb-controller
  template:
    metadata:
      labels:
        application: pdb-controller
        version: v0.0.7
    spec:
      serviceAccountName: system
      containers:
      - name: pdb-controller
        image: registry.opensource.zalan.do/teapot/pdb-controller:v0.0.7
        args:
        - --debug
        - --non-ready-ttl={{if index .ConfigItems "pdb_non_ready_ttl"}}{{.ConfigItems.pdb_non_ready_ttl}}{{else}}1h{{end}}
        resources:
          limits:
            cpu: 200m
            memory: 200Mi
          requests:
            cpu: 10m
            memory: 25Mi
