apiVersion: v1
kind: ServiceAccount
metadata:
  name: "deployment-service-status-service"
  namespace: "kube-system"
  labels:
    application: "deployment-service"
    component: "status-service"
  annotations:
    iam.amazonaws.com/role: "{{.Cluster.LocalID}}-deployment-service-status-service"
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "deployment-service-status-service"
  labels:
    application: "deployment-service"
    component: "status-service"
rules:
  - apiGroups:
      - deployment.zalando.org
    resources:
      - cdpdeploymenttasks
    verbs: ["get", "list", "watch"]
  - apiGroups:
      - ""
    resources:
      - pods
      - events
      - services
      - persistentvolumeclaims
    verbs: ["get", "list", "watch"]
  - apiGroups:
      - ""
    resources:
      - configmaps
    resourceNames:
      - deployment-config
    verbs: ["get", "list", "watch"]
  - apiGroups:
      - apps
    resources:
      - deployments
      - statefulsets
      - replicasets
    verbs: ["get", "list", "watch"]
  - apiGroups:
      - batch
    resources:
      - cronjobs
      - jobs
    verbs: ["get", "list", "watch"]
  - apiGroups:
      - networking.k8s.io
    resources:
      - ingresses
    verbs: ["get", "list", "watch"]
  - apiGroups:
      - autoscaling
    resources:
      - horizontalpodautoscalers
    verbs: ["get", "list", "watch"]
  - apiGroups:
      - zalando.org
    resources:
      - stacksets
      - stacks
      - platformcredentialssets
      - routegroups
      - fabricgateways
      - fabriceventstreams
    verbs: ["get", "list", "watch"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "deployment-service-status-service"
  labels:
    application: "deployment-service"
    component: "status-service"
subjects:
  - kind: ServiceAccount
    name: "deployment-service-status-service"
    namespace: "kube-system"
roleRef:
  kind: ClusterRole
  name: "deployment-service-status-service"
  apiGroup: rbac.authorization.k8s.io
