apiVersion: v1
kind: ServiceAccount
metadata:
  name: "deployment-service-status-service"
  namespace: "kube-system"
  labels:
    application: "deployment-service"
    component: "status-service"
  annotations:
    iam.amazonaws.com/role: "{{.Cluster.LocalID}}-deployment-service-status-service"
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "deployment-service-status-service"
  labels:
    application: "deployment-service"
    component: "status-service"
rules:
  - apiGroups:
      - deployment.zalando.org
    resources:
      - cdpdeploymenttasks
    verbs: ["get", "list", "watch"]
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "deployment-service-status-service"
  labels:
    application: "deployment-service"
    component: "status-service"
subjects:
  - kind: ServiceAccount
    name: "deployment-service-status-service"
    namespace: "kube-system"
roleRef:
  kind: ClusterRole
  name: "deployment-service-status-service"
  apiGroup: rbac.authorization.k8s.io
---
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: "deployment-service-status-service-readonly"
  labels:
    application: "deployment-service"
    component: "status-service"
roleRef:
  kind: ClusterRole
  name: readonly
  apiGroup: rbac.authorization.k8s.io
subjects:
  - kind: ServiceAccount
    name: "deployment-service-status-service"
    namespace: "kube-system"
