apiVersion: v1
kind: Secret
metadata:
  name: "deployment-service-status-service"
  namespace: "kube-system"
  labels:
    application: "deployment-service"
    component: "status-service"
type: Opaque
data:
  lightstep-token: "{{ .ConfigItems.deployment_service_lightstep_token | base64 }}"
