{{ if eq .Environment "production" }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: emergency-access-service
  namespace: kube-system
  annotations:
    zalando.org/skipper-filter: |
      oauthTokeninfoAnyScope("uid")
  labels:
    application: emergency-access-service
spec:
  rules:
  - host: emergency-access-service.{{ .Values.hosted_zone }}
    http:
      paths:
      - backend:
          service:
            name: emergency-access-service
            port:
              name: http
        pathType: ImplementationSpecific
{{ end }}
