{{ if eq .Environment "production" }}
apiVersion: v1
kind: Secret
metadata:
  name: emergency-access-service-secrets
  namespace: kube-system
  labels:
    application: emergency-access-service
type: Opaque
data:
  opsgenie-api-key: "{{ .Cluster.ConfigItems.emergency_access_service_opsgenie_api_key | base64 }}"
  opentracing-lightstep-access-token: "{{ .Cluster.ConfigItems.lightstep_token | base64 }}"
{{ end }}
