apiVersion: v1
kind: Service
metadata:
  name: emergency-access-service
  namespace: kube-system
  labels:
    application: emergency-access-service
spec:
  selector:
    application: emergency-access-service
  type: ClusterIP
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http
