apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: kube-proxy
  namespace: kube-system
  labels:
    application: kube-proxy
    # application: kubernetes # step 2
    component: kube-proxy
spec:
  selector:
    matchLabels:
      # daemonset: kube-proxy # step 2
      application: kube-proxy
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      name: kube-proxy
      labels:
        daemonset: kube-proxy
        application: kube-proxy
        # application: kubernetes # step 3
        component: kube-proxy
      annotations:
        config/hash: {{"configmap.yaml" | manifestHash}}
        logging/destination: "{{.Cluster.ConfigItems.log_destination_infra}}"
    spec:
      priorityClassName: system-node-critical
      serviceAccountName: kube-proxy
      tolerations:
      - operator: Exists
        effect: NoSchedule
      - operator: Exists
        effect: NoExecute
      hostNetwork: true
      containers:
      - name: kube-proxy
        image: nonexistent.zalan.do/teapot/kube-proxy:fixed
        args:
        - --hostname-override=$(HOSTNAME_OVERRIDE)
        - --config=/config/kube-proxy.yaml
        - --v=2
        env:
        - name: KUBERNETES_SERVICE_HOST
          value: "{{.Cluster.LocalID}}.{{.Values.hosted_zone}}"
        - name: KUBERNETES_SERVICE_PORT
          value: "443"
        - name: HOSTNAME_OVERRIDE
          valueFrom:
            fieldRef:
              fieldPath: spec.nodeName
        securityContext:
          privileged: true
        readinessProbe:
          httpGet:
            host: 127.0.0.1
            port: 10256
            path: /healthz
        resources:
          requests:
            cpu: {{.Cluster.ConfigItems.kube_proxy_cpu}}
            memory: {{.Cluster.ConfigItems.kube_proxy_memory}}
            ephemeral-storage: 256Mi
          limits:
            cpu: {{.Cluster.ConfigItems.kube_proxy_cpu}}
            memory: {{.Cluster.ConfigItems.kube_proxy_memory}}
        volumeMounts:
        - name: kube-api-token
          mountPath: /var/run/secrets/kubernetes.io/serviceaccount
        - name: kube-proxy-config
          mountPath: /config
          readOnly: true
      volumes:
      - name: kube-api-token
        projected:
          defaultMode: 420
          sources:
            - serviceAccountToken:
                expirationSeconds: 3600
                path: token
      - name: kube-proxy-config
        configMap:
          name: kube-proxy-config
