# "fake" service account only used for attaching privileged PSP. kube-proxy will
# use the 'kubelet' identity (via kubeconfig file) because it needs to bootstrap
# before service IPs are avilable and therefore can't use the default
# serviceAccount identity which would try to connect to the apiserver via the
# service IP instead of the public address.
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kube-proxy
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: kube-proxy-privileged-psp
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: privileged-psp
subjects:
- kind: ServiceAccount
  name: kube-proxy
  namespace: kube-system
