apiVersion: apps/v1
kind: Deployment
metadata:
  name: external-dns
  namespace: kube-system
  labels:
    application: kubernetes
    component: external-dns
    version: v0.12.2
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      deployment: external-dns
  template:
    metadata:
      labels:
        application: kubernetes
        component: external-dns
        deployment: external-dns
        version: v0.12.2
      annotations:
        logging/destination: "{{.Cluster.ConfigItems.log_destination_both}}"
        prometheus.io/path: /metrics
        prometheus.io/port: "7979"
        prometheus.io/scrape: "true"
    spec:
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      priorityClassName: "{{ .Cluster.ConfigItems.system_priority_class }}"
      serviceAccountName: external-dns
      containers:
      - name: external-dns
        {{- if eq .Cluster.ConfigItems.external_dns_version "current" }}
        image: container-registry.zalando.net/teapot/external-dns:v0.12.2-master-29
        {{- else }}
        image: container-registry.zalando.net/teapot/external-dns:v0.9.0-master-26
        {{- end }}
        args:
        - --source=service
        - --source=ingress
        - --source=skipper-routegroup
{{- range split .ConfigItems.external_dns_excluded_domains "," }}
        - --exclude-domains={{ . }}
{{- end }}
        - --provider=aws
        - --registry=txt
        - --txt-owner-id={{ .Region }}:{{ .LocalID }}
        - --txt-prefix={{ .ConfigItems.external_dns_ownership_prefix }}
        {{- if eq .Cluster.ConfigItems.external_dns_version "current" }}
        - --aws-batch-change-size=3
        {{- else }}
        - --aws-batch-change-size=2
        {{- end }}
        - --annotation-filter=external-dns.alpha.kubernetes.io/exclude notin (true)
        - --policy={{ .ConfigItems.external_dns_policy }}
        resources:
          requests:
            cpu: 50m
            memory: 4Gi
          limits:
            cpu: 50m
            memory: 4Gi
        livenessProbe:
          httpGet:
            path: /healthz
            port: 7979
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 65534
          capabilities:
            drop: ["ALL"]
