apiVersion: apps/v1
kind: Deployment
metadata:
  name: kubernetes-lifecycle-metrics
  namespace: kube-system
  labels:
    application: kubernetes
    component: lifecycle-metrics
    version: master-9
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: kubernetes-lifecycle-metrics
  template:
    metadata:
      labels:
        deployment: kubernetes-lifecycle-metrics
        application: kubernetes
        component: lifecycle-metrics
        version: master-9
      annotations:
        prometheus.io/path: /metrics
        prometheus.io/port: "9090"
        prometheus.io/scrape: "true"
        kubernetes-log-watcher/scalyr-parser: '[{"container": "kubernetes-lifecycle-metrics", "parser": "system-json-escaped-json"}]'
        logging/destination: "{{.Cluster.ConfigItems.log_destination_infra}}"
    spec:
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      serviceAccountName: kubernetes-lifecycle-metrics
      containers:
        - name: kubernetes-lifecycle-metrics
          image: "container-registry.zalando.net/teapot/kubernetes-lifecycle-metrics:master-12"
          ports:
            - containerPort: 9090
              protocol: TCP
          resources:
            limits:
              cpu: 5m
              memory: {{.ConfigItems.kubernetes_lifecycle_metrics_mem_max}}
            requests:
              cpu: 5m
              memory: {{.ConfigItems.kubernetes_lifecycle_metrics_mem_max}}
          readinessProbe:
            httpGet:
              path: /healthz
              port: 9090
              scheme: HTTP
