apiVersion: apps/v1
kind: Deployment
metadata:
  name: skipper-ingress
  namespace: kube-system
  labels:
    application: skipper-ingress
    version: v0.10.192
    component: ingress
spec:
  strategy:
    rollingUpdate:
      maxSurge: 0
  selector:
    matchLabels:
      application: skipper-ingress
  template:
    metadata:
      labels:
        application: skipper-ingress
        version: v0.10.192
        component: ingress
      annotations:
        kubernetes-log-watcher/scalyr-parser: |
          [{"container": "skipper-ingress", "parser": "skipper-access-log"}]
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                - key: application
                  operator: In
                  values:
                  - skipper-ingress
              topologyKey: kubernetes.io/hostname
      priorityClassName: system-cluster-critical
      serviceAccountName: skipper-ingress
      nodeSelector:
        kubernetes.io/role: worker
      dnsPolicy: ClusterFirstWithHostNet
      hostNetwork: true
      containers:
      - name: skipper-ingress
        image: registry.opensource.zalan.do/pathfinder/skipper:v0.10.192
        ports:
        - name: ingress-port
          containerPort: 9999
          hostPort: 9999
        env:
        - name: LIGHTSTEP_TOKEN
          valueFrom:
            secretKeyRef:
              name: skipper-ingress
              key: lightstep-token
        args:
          - "skipper"
          - "-kubernetes"
          - "-kubernetes-in-cluster"
          - "-kubernetes-path-mode=path-prefix"
          - "-address=:9999"
          - "-wait-first-route-load"
{{ if eq .ConfigItems.enable_skipper_eastwest "true"}}
          - "-enable-kubernetes-east-west"
          - "-kubernetes-east-west-domain=.ingress.cluster.local"
{{ end }}
          - "-proxy-preserve-host"
          - "-serve-host-metrics"
          - "-disable-metrics-compat"
          - "-enable-profile"
          - "-enable-ratelimits"
          - "-experimental-upgrade"
          - "-metrics-exp-decay-sample"
          - "-reverse-source-predicate"
          - "-lb-healthcheck-interval=3s"
          - "-metrics-flavour=prometheus"
          - "-enable-connection-metrics"
{{ if eq .ConfigItems.enable_apimonitoring "true"}}
          - "-enable-api-usage-monitoring"
          - "-api-usage-monitoring-realm-keys=https://identity.zalando.com/realm"
          - "-api-usage-monitoring-client-keys=https://identity.zalando.com/managed-id,sub"
          - "-api-usage-monitoring-default-client-tracking-pattern=services[.].*"
{{ end }}
          - "-max-audit-body=0"
{{ if eq .ConfigItems.skipper_clusterratelimit "true"}}
          - "-enable-swarm"
          - "-swarm-redis-urls=skipper-ingress-redis-0.skipper-ingress-redis.kube-system.svc.cluster.local:6379,skipper-ingress-redis-1.skipper-ingress-redis.kube-system.svc.cluster.local:6379"
{{ end }}
          - "-oauth2-tokeninfo-url={{ .ConfigItems.tokeninfo_url }}"
          - "-histogram-metric-buckets=.0001,.00025,.0005,.00075,.001,.0025,.005,.0075,.01,.025,.05,.075,.1,.2,.3,.4,.5,.75,1,2,3,4,5,7,10,15,20,30,60,120,300,600"
          - "-opentracing=lightstep component-name=skipper-ingress token=$(LIGHTSTEP_TOKEN) collector=tracing.stups.zalan.do:8444 cmd-line=skipper-ingress max-buffered-spans=4096"
          - "-expect-continue-timeout-backend={{ .ConfigItems.skipper_expect_continue_timeout_backend }}"
          - "-keepalive-backend={{ .ConfigItems.skipper_keepalive_backend }}"
          - "-max-idle-connection-backend={{ .ConfigItems.skipper_max_idle_connection_backend }}"
          - "-response-header-timeout-backend={{ .ConfigItems.skipper_response_header_timeout_backend }}"
          - "-timeout-backend={{ .ConfigItems.skipper_timeout_backend }}"
          - "-tls-timeout-backend={{ .ConfigItems.skipper_tls_timeout_backend }}"
          - "-access-log-disabled"
        resources:
          limits:
            cpu: "{{ .ConfigItems.skipper_ingress_cpu }}"
            memory: "{{ .ConfigItems.skipper_ingress_memory }}"
          requests:
            cpu: "{{ .ConfigItems.skipper_ingress_cpu }}"
            memory: "{{ .ConfigItems.skipper_ingress_memory }}"
        readinessProbe:
          httpGet:
            path: /kube-system/healthz
            port: 9999
          initialDelaySeconds: 60
          timeoutSeconds: 5
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
{{ if eq .ConfigItems.enable_apimonitoring "true"}}
        volumeMounts:
          - name: filters
            mountPath: /etc/config/default-filters
{{ end }}
{{ if eq .ConfigItems.enable_apimonitoring "true"}}
      volumes:
        - name: filters
          configMap:
            name: skipper-default-filters
            optional: true
{{ end }}
