apiVersion: apps/v1
kind: Deployment
metadata:
  name: skipper-ingress
  namespace: kube-system
  labels:
    application: skipper-ingress
    version: v0.10.122
    component: ingress
spec:
  selector:
    matchLabels:
      application: skipper-ingress
  template:
    metadata:
      labels:
        application: skipper-ingress
        version: v0.10.122
        component: ingress
      annotations:
        kubernetes-log-watcher/scalyr-parser: |
          [{"container": "skipper-ingress", "parser": "skipper-access-log"}]
    spec:
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                - key: application
                  operator: In
                  values:
                  - skipper-ingress
              topologyKey: kubernetes.io/hostname
      priorityClassName: system-cluster-critical
{{ if index $cfg "enable_rbac"}}
      serviceAccountName: skipper-ingress
{{ end }}
      tolerations:
      - key: dedicated
        operator: Exists
      nodeSelector:
        kubernetes.io/role: worker
      hostNetwork: true
      containers:
      - name: skipper-ingress
        image: registry.opensource.zalan.do/pathfinder/skipper:v0.10.122
        ports:
        - name: ingress-port
          containerPort: 9999
          hostPort: 9999
        env:
        - name: LIGHTSTEP_TOKEN
          valueFrom:
            secretKeyRef:
              name: skipper-ingress
              key: lightstep-token
        args:
          - "skipper"
          - "-kubernetes"
          - "-kubernetes-in-cluster"
          - "-kubernetes-path-mode=path-prefix"
          - "-address=:9999"
          - "-wait-first-route-load"
          - "-proxy-preserve-host"
          - "-serve-host-metrics"
          - "-enable-ratelimits"
          - "-experimental-upgrade"
          - "-metrics-exp-decay-sample"
          - "-reverse-source-predicate"
          - "-lb-healthcheck-interval=3s"
          - "-metrics-flavour=codahale,prometheus"
          - "-enable-connection-metrics"
{{ if index $cfg "enable_apimonitoring"}}
          - "-enable-api-usage-monitoring"
          - "-api-usage-monitoring-realm-keys=https://identity.zalando.com/realm"
          - "-api-usage-monitoring-client-keys=https://identity.zalando.com/managed-id,sub"
          - "-api-usage-monitoring-default-client-tracking-pattern=services[.].*"
{{ end }}
          - "-max-audit-body=0"
{{ if eq $cfg.skipper_clusterratelimit "true"}}
          - "-enable-swarm"
          - "-swarm-port=9990"
          - "-swarm-label-selector-key=application"
          - "-swarm-label-selector-value=skipper-ingress"
          - "-swarm-leave-timeout=5s"
          - "-swarm-max-msg-buffer=4194304"
          - "-swarm-namespace=kube-system"
{{ end }}
          - "-oauth2-tokeninfo-url={{ $cfg.tokeninfo_url }}"
          - "-histogram-metric-buckets=.01,.025,.05,.075,.1,.2,.3,.4,.5,.75,1,2,3,4,5,7,10,15,20,30,60,120,300,600"
          - "-opentracing=lightstep component-name=skipper-ingress token=$(LIGHTSTEP_TOKEN) collector=tracing.zmon.zalan.do:8444 cmd-line=skipper-ingress max-buffered-spans=4096"
        resources:
          limits:
            cpu: "{{ $cfg.skipper_ingress_cpu }}"
            memory: "{{ $cfg.skipper_ingress_memory }}"
          requests:
            cpu: "{{ $cfg.skipper_ingress_cpu }}"
            memory: "{{ $cfg.skipper_ingress_memory }}"
        readinessProbe:
          httpGet:
            path: /kube-system/healthz
            port: 9999
          initialDelaySeconds: 5
          timeoutSeconds: 5
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
