apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    application: skipper-ingress
    component: pod-deletion-cost-controller
  name: pod-deletion-cost-controller
  namespace: kube-system
spec:
  replicas: 1
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      deployment: pod-deletion-cost-controller
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        application: skipper-ingress
        component: pod-deletion-cost-controller
        deployment: pod-deletion-cost-controller
    spec:
      priorityClassName: "{{ .Cluster.ConfigItems.system_priority_class }}"
      serviceAccountName: pod-deletion-cost-controller
      containers:
      - args:
        - -address=:8080
        - -v=0
        image: container-registry.zalando.net/gwproxy/pod-deletion-cost-controller:main-19
        name: pod-deletion-cost-controller
        ports:
        - containerPort: 8080
          name: metrics
          protocol: TCP
        readinessProbe:
          failureThreshold: 1
          httpGet:
            path: /healthz
            port: 8080
            scheme: HTTP
          initialDelaySeconds: 1
          periodSeconds: 10
          successThreshold: 1
          timeoutSeconds: 3
        resources:
          limits:
            cpu: "50m"
            memory: 100Mi
          requests:
            cpu: "50m"
            memory: 100Mi
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 5000
