kind: Service
apiVersion: v1
metadata:
  name: skipper-ingress
  namespace: kube-system
  labels:
    application: skipper-ingress
    component: ingress
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 80
    targetPort: 9999
    protocol: TCP
  - name: support
    port: 9911
    targetPort: 9911
    protocol: TCP
  selector:
    application: skipper-ingress
    component: ingress
