kind: Service
apiVersion: v1
metadata:
  annotations:
    # Kubernetes version 1.23 - 1.26
    # TODO(sszuecs): cleanup later, because it was renamed in Kube-1.27
    service.kubernetes.io/topology-aware-hints: auto
    # Kubernetes version >=1.27
    service.kubernetes.io/topology-mode: auto
  name: skipper-internal
  namespace: kube-system
  labels:
    application: skipper-ingress
    component: ingress
spec:
  type: ClusterIP
{{- if ne .Cluster.ConfigItems.eks "true"}}
# TODO: how to do internal-ingress?
# function to derive IP from range?
# Can be hardcoded for ipv4, must be dynamic for ipv6
  clusterIP: 10.5.99.99
{{- end}}
  ports:
    - port: 80
      targetPort: 9999
      protocol: TCP
      name: main
{{if eq .Cluster.ConfigItems.skipper_ingress_eastwest_additional_port "true"}}
    - port: 8080
      targetPort: 9999
      protocol: TCP
      name: additional
{{end}}
  selector:
    application: skipper-ingress
    component: ingress
