apiVersion: apps/v1
kind: StatefulSet
metadata:
  labels:
    application: skipper-ingress-redis
    version: v6.2.4
  name: skipper-ingress-redis
  namespace: kube-system
spec:
  replicas: {{ .ConfigItems.skipper_redis_replicas }}
  selector:
    matchLabels:
      application: skipper-ingress-redis
  serviceName: skipper-ingress-redis
  template:
    metadata:
      labels:
        application: skipper-ingress-redis
        version: v6.2.4
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "false"
        logging/destination: "{{.Cluster.ConfigItems.log_destination_infra}}"
    spec:
{{- if eq .ConfigItems.skipper_topology_spread_enabled "true" }}
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: topology.kubernetes.io/zone
          whenUnsatisfiable: DoNotSchedule
          labelSelector:
            matchLabels:
              application: skipper-ingress-redis
{{- end }}
      affinity:
        podAntiAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - topologyKey: kubernetes.io/hostname
            labelSelector:
              matchExpressions:
              - key: application
                operator: In
                values:
                - skipper-ingress-redis
      priorityClassName: "{{ .Cluster.ConfigItems.system_priority_class }}"
      containers:
      - image: registry.opensource.zalan.do/library/redis-6-alpine:6-alpine-20210712
        name: skipper-ingress-redis
        ports:
        - containerPort: 6379
          protocol: TCP
        readinessProbe:
          exec:
            command:
            - redis-cli
            - ping
          failureThreshold: 3
          initialDelaySeconds: 10
          periodSeconds: 60
          successThreshold: 1
          timeoutSeconds: 1
        resources:
          limits:
            cpu: {{ .Cluster.ConfigItems.skipper_redis_cpu }}
            memory: {{ .Cluster.ConfigItems.skipper_redis_memory }}
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
{{ if eq .ConfigItems.enable_dedicate_nodepool_skipper_redis "true"}}
      nodeSelector:
        dedicated: skipper-ingress-redis
      tolerations:
      - effect: NoSchedule
        key: dedicated
        value: skipper-ingress-redis
{{ end }}
