apiVersion: apps/v1
kind: Deployment
metadata:
  name: vpa-admission-controller
  namespace: kube-system
  labels:
    application: kubernetes
    component: vpa-admission-controller
    version: v0.6.1-internal.12
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: vpa-admission-controller
  template:
    metadata:
      labels:
        deployment: vpa-admission-controller
        application: kubernetes
        component: vpa-admission-controller
        version: v0.6.1-internal.12
      annotations:
        config/hash: {{"02-secret.yaml" | manifestHash}}
        logging/destination: "{{.Cluster.ConfigItems.log_destination_infra}}"
    spec:
      priorityClassName: "{{ .Cluster.ConfigItems.system_priority_class }}"
      serviceAccountName: vpa-admission-controller
      containers:
      - name: admission-controller
        {{if eq .Cluster.ConfigItems.vertical_pod_autoscaler_version "current"}}
        image: container-registry.zalando.net/teapot/vpa-admission-controller:v0.11.0-internal.17
        {{else if eq .Cluster.ConfigItems.vertical_pod_autoscaler_version "legacy"}}
        image: container-registry.zalando.net/teapot/vpa-admission-controller:v0.6.1-internal.16
        {{end}}
        command:
          - /admission-controller
        args:
          - --v=1
          - --logtostderr
        volumeMounts:
          - name: tls-certs
            mountPath: "/etc/tls-certs"
            readOnly: true
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        resources:
          limits:
            cpu: {{.Cluster.ConfigItems.vpa_cpu}}
            memory: {{.Cluster.ConfigItems.vpa_mem}}
          requests:
            cpu: {{.Cluster.ConfigItems.vpa_cpu}}
            memory: {{.Cluster.ConfigItems.vpa_mem}}
        ports:
        - containerPort: 8000
          protocol: TCP
      volumes:
        - name: tls-certs
          secret:
            secretName: vpa-tls-certs
