apiVersion: apps/v1
kind: Deployment
metadata:
  name: vpa-admission-controller
  namespace: kube-system
  labels:
    application: vpa-admission-controller
    version: v0.6.1-internal.2
    component: vpa
spec:
  replicas: 1
  selector:
    matchLabels:
      application: vpa-admission-controller
  template:
    metadata:
      labels:
        application: vpa-admission-controller
        version: v0.6.1-internal.2
        component: vpa
      annotations:
        config/hash: {{"secret.yaml" | manifestHash}}
    spec:
      priorityClassName: system-cluster-critical
      serviceAccountName: vpa-admission-controller
      containers:
      - name: admission-controller
        image: registry.opensource.zalan.do/teapot/vpa-admission-controller:v0.6.1-internal.2
        volumeMounts:
          - name: tls-certs
            mountPath: "/etc/tls-certs"
            readOnly: true
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        resources:
          limits:
            cpu: 200m
            memory: 500Mi
          requests:
            cpu: 200m
            memory: 500Mi
        ports:
        - containerPort: 8000
      volumes:
        - name: tls-certs
          secret:
            secretName: vpa-tls-certs
