apiVersion: apps/v1
kind: Deployment
metadata:
  name: vpa-recommender
  namespace: kube-system
  labels:
    application: vertical-pod-autoscaler
    component: recommender
    version: v0.6.1-internal.12
spec:
  replicas: 1
  selector:
    matchLabels:
      application: vertical-pod-autoscaler
      component: recommender
  template:
    metadata:
      labels:
        application: vertical-pod-autoscaler
        component: recommender
        version: v0.6.1-internal.12
    spec:
      serviceAccountName: vpa-recommender
      containers:
      - name: recommender
        image: registry.opensource.zalan.do/teapot/vpa-recommender:v0.6.1-internal.12
        args:
        - --logtostderr
        - --v=1
        - --memory-saver
        - --pod-recommendation-min-memory-mb=50
        command:
        - "/recommender"
        resources:
          limits:
            cpu: {{.Cluster.ConfigItems.vpa_cpu}}
            memory: {{.Cluster.ConfigItems.vpa_mem}}
          requests:
            cpu: {{.Cluster.ConfigItems.vpa_cpu}}
            memory: {{.Cluster.ConfigItems.vpa_mem}}
        ports:
        - containerPort: 8080
          protocol: TCP
