apiVersion: apps/v1
kind: Deployment
metadata:
  name: vpa-recommender
  namespace: kube-system
  labels:
    application: kubernetes
    component: recommender
    version: v0.6.1-internal.12
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: vpa-recommender
  template:
    metadata:
      labels:
        deployment: vpa-recommender
        application: kubernetes
        component: vpa-recommender
        version: v0.6.1-internal.12
      annotations:
        logging/destination: "{{.Cluster.ConfigItems.log_destination_infra}}"
    spec:
      serviceAccountName: vpa-recommender
      containers:
      - name: recommender
        image: container-registry.zalando.net/teapot/vpa-recommender:v0.6.1-internal.16
        args:
        - --logtostderr
        - --v=1
        - --memory-saver
        - --pod-recommendation-min-memory-mb=50
        command:
        - "/recommender"
        resources:
          limits:
            cpu: {{.Cluster.ConfigItems.vpa_cpu}}
            memory: {{.Cluster.ConfigItems.vpa_mem}}
          requests:
            cpu: {{.Cluster.ConfigItems.vpa_cpu}}
            memory: {{.Cluster.ConfigItems.vpa_mem}}
        ports:
        - containerPort: 8080
          protocol: TCP
