{{ $version := "v0.0.2" }}

apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: kube-node-ready
  namespace: kube-system
  labels:
    application: kube-node-ready
    version: {{$version}}
spec:
  updateStrategy:
    type: OnDelete
  selector:
    matchLabels:
      application: kube-node-ready
  template:
    metadata:
      labels:
        application: kube-node-ready
        version: {{$version}}
      annotations:
        iam.amazonaws.com/role: "{{ .LocalID }}-kube-node-ready"
    spec:
      priorityClassName: system-node-critical
      tolerations:
      - operator: Exists
        effect: NoSchedule
      - operator: Exists
        effect: NoExecute
      containers:
      - name: kube-node-ready
        image: registry.opensource.zalan.do/teapot/kube-node-ready:{{$version}}
        args:
        - --lifecycle-hook=kube-node-ready-lifecycle-hook
        resources:
          limits:
            cpu: 1m
            memory: 20Mi
          requests:
            cpu: 1m
            memory: 20Mi
        readinessProbe:
          httpGet:
            path: /healthz
            port: 8080
          initialDelaySeconds: 10
          timeoutSeconds: 300
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
