kind: Service
apiVersion: v1
metadata:
  name: kube-node-ready
  namespace: kube-system
  labels:
    application: kubernetes
    component: kube-node-ready
    kubernetes.io/cluster-service: "true"
    kubernetes.io/name: "kube-node-ready"
spec:
  type: NodePort
  externalTrafficPolicy: Local
  ports:
    - port: 80
      nodePort: 30080
      targetPort: 8080
      protocol: TCP
  selector:
    component: kube-node-ready
