apiVersion: "zalando.org/v1"
kind: PlatformCredentialsSet
metadata:
   name: "audittrail-adapter"
   namespace: kube-system
   labels:
     application: "audittrail-adapter"
spec:
   application: "audittrail-adapter"
   tokens:
     audittrail:
       privileges: []
