apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: audittrail-adapter
  namespace: kube-system
  labels:
    application: audittrail-adapter
spec:
  selector:
    matchLabels:
      application: audittrail-adapter
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        application: audittrail-adapter
      annotations:
        logging/destination: "{{.Cluster.ConfigItems.log_destination_infra}}"
        prometheus.io/path: /metrics
        prometheus.io/port: "7980"
        prometheus.io/scrape: "true"
    spec:
      serviceAccountName: audittrail-adapter
      priorityClassName: system-node-critical
      nodeSelector:
        node.kubernetes.io/role: master
      tolerations:
      - operator: Exists
        effect: NoSchedule
      - operator: Exists
        effect: NoExecute
      hostNetwork: true
      containers:
      - name: audittrail-adapter
        image: container-registry.zalando.net/teapot/audittrail-adapter:master-52
        env:
          - name: AWS_REGION
            value: "{{ .Cluster.Region }}"
        args:
        - --cluster-id={{ .Cluster.ID }}
        - --cluster-alias={{ .Cluster.Alias }}
        - --nakadi-url={{ .Cluster.ConfigItems.audittrail_nakadi_url }}
        - --audittrail-url={{ .Cluster.ConfigItems.audittrail_url }}
        - --s3-fallback-bucket-name=zalando-audittrail-{{accountID .Cluster.InfrastructureAccount}}-{{ .Cluster.LocalID }}
        - --address=:8889
        - --metrics-address=:7980
        - --audittrail-timeout={{ .Cluster.ConfigItems.audittrail_adapter_timeout }}
        {{- if eq .Cluster.ConfigItems.audittrail_adapter_drop_audittrail_api_read_only "true" }}
        - --audittrail-drop-read-only
        {{- end }}
        {{- if not .Cluster.ConfigItems.audittrail_url }}
        - --metrics-only
        {{- end }}
        {{- range $label := split .Cluster.ConfigItems.auditlog_metric_dimensions  "," }}
        - --metric-labels={{ $label }}
        {{- end }}
        {{- if or .Cluster.ConfigItems.audittrail_url .Cluster.ConfigItems.audittrail_nakadi_url }}
        volumeMounts:
        {{- end }}
        {{- if .Cluster.ConfigItems.audittrail_url }}
        - name: platform-iam-credentials-audittrail
          mountPath: /meta/credentials/audittrail
          readOnly: true
        {{- end }}
        {{- if .Cluster.ConfigItems.audittrail_nakadi_url }}
        - name: platform-iam-credentials-nakadi
          mountPath: /meta/credentials/nakadi
          readOnly: true
        {{- end }}
        resources:
          limits:
            cpu: {{ .Cluster.ConfigItems.audittrail_adapter_cpu }}
            memory: {{ .Cluster.ConfigItems.audittrail_adapter_memory }}
          requests:
            cpu: {{ .Cluster.ConfigItems.audittrail_adapter_cpu }}
            memory: {{ .Cluster.ConfigItems.audittrail_adapter_memory }}
        securityContext:
          readOnlyRootFilesystem: true
          runAsNonRoot: true
          runAsUser: 1000
      {{- if or .Cluster.ConfigItems.audittrail_url .Cluster.ConfigItems.audittrail_nakadi_url }}
      volumes:
      {{- end }}
      {{- if .Cluster.ConfigItems.audittrail_url }}
      - name: platform-iam-credentials-audittrail
        secret:
          secretName: audittrail-adapter
      {{- end }}
      {{- if .Cluster.ConfigItems.audittrail_nakadi_url }}
      - name: platform-iam-credentials-nakadi
        secret:
          secretName: audittrail-adapter-nakadi
      {{- end }}
