{{ if index .ConfigItems "efs_id" }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: efs-provisioner
  namespace: kube-system
data:
  file.system.id: "{{ .Cluster.ConfigItems.efs_id }}"
  aws.region: "{{ .Region }}"
  provisioner.name: external-storage.alpha.kubernetes.io/aws-efs
{{ end }}
