{{ if index .ConfigItems "efs_id" }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: efs-provisioner
  namespace: kube-system
  labels:
    application: efs-provisioner
    version: v2.4.0
spec:
  strategy:
    type: Recreate
  selector:
    matchLabels:
      application: efs-provisioner
  template:
    metadata:
      labels:
        application: efs-provisioner
        version: v2.4.0
      annotations:
        logging/destination: "{{.Cluster.ConfigItems.log_destination_infra}}"
    spec:
      dnsConfig:
        options:
          - name: ndots
            value: "1"
      serviceAccountName: efs-provisioner
      containers:
      - name: efs-provisioner
        image: registry.opensource.zalan.do/teapot/efs-provisioner:v2.4.0
        env:
        - name: FILE_SYSTEM_ID
          valueFrom:
            configMapKeyRef:
              name: efs-provisioner
              key: file.system.id
        - name: AWS_REGION
          valueFrom:
            configMapKeyRef:
              name: efs-provisioner
              key: aws.region
        - name: PROVISIONER_NAME
          valueFrom:
            configMapKeyRef:
              name: efs-provisioner
              key: provisioner.name
        resources:
          limits:
            cpu: 25m
            memory: 100Mi
        volumeMounts:
        - name: pv-volume
          mountPath: /persistentvolumes
      volumes:
        - name: pv-volume
          nfs:
            server: "{{ .ConfigItems.efs_id }}.efs.{{ .Region }}.amazonaws.com"
            path: /
{{ end }}
