apiVersion: apps/v1
kind: Deployment
metadata:
  name: "zmon-redis"
  namespace: "visibility"
  labels:
    application: "zmon-redis"
    version: "v0.1"
spec:
  replicas: 1
  selector:
    matchLabels:
      application: "zmon-redis"
  template:
    metadata:
      labels:
        application: "zmon-redis"
        version: "v0.1"
      annotations:
        scheduler.alpha.kubernetes.io/critical-pod: ''
    spec:
      tolerations:
      - key: CriticalAddonsOnly
        operator: Exists
      containers:
        - name: zmon-redis
          image: registry.opensource.zalan.do/zmon/redis:3.2.9
          resources:
            limits:
              cpu: 200m
              memory: 1Gi
            requests:
              cpu: 50m
              memory: 100Mi
          ports:
            - containerPort: 6379
          readinessProbe:
            exec:
              command:
                - redis-cli
                - ping
            initialDelaySeconds: 10
            periodSeconds: 60
