# everything defined under here will be deleted before applying the manifests
pre_apply:
- name: vpa-recommender
  namespace: kube-system
  kind: Deployment
- name: vpa-updater
  namespace: kube-system
  kind: Deployment
- name: vpa-admission-controller
  namespace: kube-system
  kind: Deployment

# everything defined under here will be deleted after applying the manifests
post_apply:
- name: kubernetes-dashboard
  kind: ClusterRoleBinding
- name: heapster
  namespace: kube-system
  kind: Deployment
- name: heapster
  namespace: kube-system
  kind: ServiceAccount
- name: heapster
  kind: ClusterRoleBinding
- name: heapster
  namespace: kube-system
  kind: Service
- name: heapster
  namespace: kube-system
  kind: VerticalPodAutoscaler
{{ if eq .ConfigItems.teapot_admission_controller_process_resources "true" }}
- name: limits
  namespace: default
  kind: LimitRange
- name: limits
  namespace: cron
  kind: LimitRange
{{ end }}
{{ if ne .ConfigItems.enable_ingress_template_controller "true" }}
- name: ingresstemplates.zalando.org
  kind: CustomResourceDefinition
- name: ingress-template-controller
  namespace: kube-system
  kind: Deployment
- name: ingress-template-controller
  namespace: kube-system
  kind: ServiceAccount
- name: ingress-template-controller
  kind: ClusterRole
- name: ingress-template-controller
  kind: ClusterRoleBinding
{{ end }}
- name: poweruser-new
  kind: ClusterRoleBinding
- name: readonly-new
  kind: ClusterRoleBinding
- name: zmon-external-new
  kind: ClusterRoleBinding
- name: collaborator
  namespace: visibility
  kind: RoleBinding
