# example: remove the app-ingress-controller deployment from kube-system
# pre_apply:
# - name: app-ingress-controller
#   namespace: kube-system
#   kind: deployment

pre_apply: [] # everything defined under here will be deleted before applying the manifests
post_apply: # everything defined under here will be deleted after applying the manifests
- name: emergency-access-service
  namespace: default
  kind: service
