apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: credentials-provider
rules:
- apiGroups:
  - "zalando.org"
  resources:
  - platformcredentialssets
  - platformcredentialssets/status
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: credentials-provider
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: credentials-provider
subjects:
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: zalando-iam:zalando:service:credentials-provider
- apiGroup: rbac.authorization.k8s.io
  kind: User
  name: zalando-iam:zalando:service:k8sapi_credentials-provider
