apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: standard
  annotations:
    storageclass.kubernetes.io/is-default-class: "true"
  labels:
    volume-type: gp3
provisioner: kubernetes.io/aws-ebs
parameters:
  type: gp3
  # TODO: this assumes 3 zones per region
  zones: {{ .Cluster.Region }}a,{{ .Cluster.Region }}b,{{ .Cluster.Region }}c
allowVolumeExpansion: true
