# A specification to declare needed OAuth credentials (tokens, clients) for the
# Zalando Platform IAM system
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: platformcredentialssets.zalando.org
spec:
  scope: Namespaced
  group: zalando.org
  version: v1
  names:
    kind: PlatformCredentialsSet
    plural: platformcredentialssets
    singular: platformcredentialsset
    shortNames:
    - pcs
    categories:
      - all
  validation:
    openAPIV3Schema:
      required:
        - spec
      properties:
        spec:
          required:
            - application
          properties:
            application:
              type: string
            clients:
              type: object
              additionalProperties:
                type: object
                properties:
                  realm:
                    type: string
                    enum:
                      - customers
                      - users
                      - services
                  grant:
                    type: string
                    enum:
                      - authorization-code
                      - implicit
                      - resource-owner-password-credentials
                      - client-credentials
                  redirectUri:
                    type: string
            tokens:
              type: object
              additionalProperties:
                type: object
            token_version:
              type: string
              enum:
                - v1
                - v2
  subresources:
    status: {}
